<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
        <%= select_tag :subject_id, options_for_select([["Select Subject", ""]] + @subjects.map {|subject| [subject.subject_name,subject.id]}), :class => "form-control", data: {child_id: "add_model"}%> 
     </div>
  </div>
</div>  


