<div class="model-header">
  <h2>Edit MarkList</h2>
</div> 
<%= form_for @mark_report, :url =>  admin_markreport_path, :method => "PUT" do |f|  %>
<%= render :partial => "form", :locals => {:f => f} %>

<% end %>

